<!-- User info -->
<section *ngIf="user?.id" >
  <section class="userProfile" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <img class="userImage" src="https://a.ppy.sh/{{ user.id }}" alt="">
    <h2>
      {{ user.name }}
    </h2>
    <h3>
      {{ user.country }}
    </h3>
    <h4>
      {{ user.type | UserType }}
    </h4>
  </section>

  <!-- Queue status info -->
  <section class="queueStatus" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{ 'queueOpen': user.isQueueOpen, 'queueClosed': !user.isQueueOpen}">
    <section *ngIf="user.isQueueOpen">
      Accepting mod requests!
    </section>
    <section *ngIf="!user.isQueueOpen">
      Currently not accepting mods
    </section>
  </section>

  <!-- Need to make a use of this -->
  <section class="containers">
    <md-card>
      <section fxLayout="row" fxLayoutAlign="center right">
        Something something will go here
      </section>
    </md-card>
  </section>


  <!-- BeatmapSet listing -->
  <section fxlayout.md="row" fxLayout.xs="column" fxLayoutGap="10px" class="containers">
    <md-card fxFlex="50" fxFlex.xs="100">
      <md-card-title>
        Ranked beatmaps [<span>{{ pendingBeatmaps.length }}</span>]
      </md-card-title>
      <md-card-content>
        <beatmapset-list [beatmapSets]="pendingBeatmaps">
        </beatmapset-list>
      </md-card-content>
    </md-card>

    <md-card fxFlex="50" fxFlex.xs="100">
      <md-card-title>
        Pending beatmaps [<span>{{ pendingBeatmaps.length }}</span>]
      </md-card-title>
      <md-card-content>
        <beatmapset-list [beatmapSets]="pendingBeatmaps">
        </beatmapset-list>
      </md-card-content>
    </md-card>
  </section>
</section>


<!-- Not found user -->
<section *ngIf="!user" fxLayout="row" fxLayoutAlign="center center" class="m-20">
  <h1>This user has not yet registered in osu! Queue Manager</h1>
</section>
