.userProfile {
  padding-top: 20px;
  padding-bottom: 20px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(48, 48, 48, 0.45)
    ),
  url('/assets/img/page-light.png');
}
h1, h2, h3, h4{
  color:white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
}

.userProfile .userImage{
  border-radius: 50px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.80);
}

.queueStatus{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: bold;
}
  .queueOpen {
    background-color: rgb(26, 135, 67);
  }
  .queueClosed{
    background-color: rgb(180, 44, 44)
  }

.containers{
  margin: 15px;
}
