<md-toolbar color="primary">
  <span (click)="goToHome()" class="clickable">osu!QM</span>

  <span mdTooltip="Log-in" *ngIf="!isUserLoggedIn"><button md-icon-button (click)="goToLogin(false)"><md-icon>input</md-icon></button></span>

  <span mdTooltip="Subscribed BMS" *ngIf="isUserLoggedIn"><button md-icon-button><md-icon>bookmark border</md-icon></button></span>
  <span mdTooltip="Notifications" *ngIf="isUserLoggedIn"><button md-icon-button><md-icon>notifications</md-icon></button></span>

  <span mdTooltip="My profile" *ngIf="isUserLoggedIn"><button md-icon-button><md-icon>person</md-icon></button></span>
  <span mdTooltip="Log-out" *ngIf="isUserLoggedIn"><button md-icon-button (click)="goToLogin(true)"><md-icon>exit_to_app</md-icon></button></span>
</md-toolbar>
