<md-card>

  <md-card-header>
    <img md-card-avatar mdTooltip="{{ beatmapSet.creator.name }}" class="clickable avatar" (click)="goToProfilePage(beatmapSet.creator.id)" src="https://a.ppy.sh/{{ beatmapSet.creator.id }}" alt="">
    <md-card-title>{{ beatmapSet.title }}</md-card-title>
      <md-card-subtitle>{{ beatmapSet.status | BeatmapSetStatus }}</md-card-subtitle>
  </md-card-header>

  <img md-card-image class="clickable image" (click)="goToBeatmapsetDetail(beatmapSet.id)" src="//b.ppy.sh/thumb/{{beatmapSet.id}}l.jpg"/>

  <md-card-actions fxLayoutAlign="center center">
    <button color="primary" fxFlex="50" md-raised-button>SHARE</button>
    <button color="primary" fxFlex="50" md-raised-button>SUBSCRIBE</button>
  </md-card-actions>

</md-card>
