<md-card>

  <md-card-header>
    <img md-card-avatar mdTooltip="{{ beatmapSet.creator.name }}" class="clickable avatar" (click)="goToProfilePage(beatmapSet.creator.id)" src="https://a.ppy.sh/{{ beatmapSet.creator.id }}" alt="">
    <md-card-title>{{ beatmapSet.title }}</md-card-title>
      <md-card-subtitle>{{ beatmapSet.status | BeatmapSetStatus }}</md-card-subtitle>
  </md-card-header>

  <section md-card-image class="imageContainer clickable" (click)="goToBeatmapsetDetail(beatmapSet.id)">
    <img class="image" src="//b.ppy.sh/thumb/{{beatmapSet.id}}l.jpg"/>
    <section class="overlay">
      <span>View more...</span>
    </section>
  </section>

  <md-card-actions fxLayoutAlign="center center" fxLayoutGap="5px">
    <beatmapset-share-button [beatmapSetId]="beatmapSet.id" fxFlex="50"></beatmapset-share-button>
    <beatmapset-subscribe-button [beatmapSetId]="beatmapSet.id" fxFlex="50"></beatmapset-subscribe-button>
  </md-card-actions>

</md-card>
