<md-card>

  <md-card-header>
    <img md-card-avatar mdTooltip="{{ beatmapSet.creator.name }}" class="clickable avatar" (click)="goToProfilePage(beatmapSet.creator.id)" src="https://a.ppy.sh/{{ beatmapSet.creator.id }}" alt="">
    <md-card-title>{{ beatmapSet.title }}</md-card-title>
      <md-card-subtitle>{{ beatmapSet.status | BeatmapSetStatus }}</md-card-subtitle>
  </md-card-header>

  <section class="imageContainer clickable" (click)="goToBeatmapsetDetail(beatmapSet.id)">
    <img class="image" src="//b.ppy.sh/thumb/{{beatmapSet.id}}l.jpg"/>
    <section class="overlay">
      <span>View more...</span>
    </section>
  </section>

  <md-card-actions fxLayoutAlign="center center">
    <button color="primary" fxFlex="50" md-raised-button>SHARE</button>
    <button color="primary" fxFlex="50" md-raised-button>SUBSCRIBE</button>
  </md-card-actions>

</md-card>
