<section *ngIf="beatmapSet?.id">
  <!-- BeatmapSet section -->
  <section fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="15px" class="container">
    <!-- Beatmapset related info -->
    <section fxFlex="20" fxFlex.xs="100">
      <section class="beatmapSetInfoContainer" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
        <img src="//b.ppy.sh/thumb/{{beatmapSet.id}}l.jpg"/>
        <h4>{{ beatmapSet.title }}</h4>
        <h5>uploaded by {{ beatmapSet.creator.name }}</h5>
      </section>
      <md-card class="beatmapSetInfoContainerList">
        <md-list dense>
          <md-list-item>Status: {{ beatmapSet.status | BeatmapSetStatus }}</md-list-item>
          <md-divider></md-divider>
          <md-list-item>BPM: {{ beatmapSet.bpm }}</md-list-item>
          <md-divider></md-divider>
          <md-list-item>Genre: {{ beatmapSet.genre | BeatmapSetGenre }}</md-list-item>
          <md-divider></md-divider>
          <md-list-item>Language: {{ beatmapSet.language | BeatmapSetLanguage }}</md-list-item>
          <md-divider></md-divider>
          <md-list-item>Last updated: {{ beatmapSet.lastUpdatedDate | date:"fullDate"}}</md-list-item>
        </md-list>
        <br />
        <md-card-actions fxLayoutAlign="center center" fxLayoutGap="5px">
          <beatmapset-share-button [beatmapSetId]="beatmapSet.id" fxFlex="50"></beatmapset-share-button>
          <beatmapset-subscribe-button [beatmapSetId]="beatmapSet.id" fxFlex="50"></beatmapset-subscribe-button>
        </md-card-actions>
      </md-card>
    </section>

    <!-- Beatmap diff's card -->
    <section fxFlex.md="80" fxFlex.xs="100">
      <md-card>
        <md-card-title>
          Difficulties
        </md-card-title>
        <md-card-content>
          <md-list class="diffList">
            <!-- Difficulty info -->
            <section *ngFor="let beatmap of beatmapSet.beatmaps">
              <md-divider></md-divider>
              <md-list-item>
                <img mdTooltip="{{ beatmap.creator.name }}" (click)="goToUserProfile(beatmap.creator.id)" class="avatar clickable" md-list-avatar src="https://a.ppy.sh/{{ beatmap.creator.id }}">
                <p md-line>{{ beatmap.diffName }} - {{ beatmap.mode | BeatmapMode }}</p>
                <p md-line>{{ beatmap.difficultyRating }}</p>
              </md-list-item>
            </section>
          </md-list>
        </md-card-content>
      </md-card>
    </section>
  </section>

</section>
