<section *ngIf="commentQueue">
  <md-list>
    <section *ngFor="let comment of commentQueue.comments">
      <md-divider></md-divider>
      <md-list-item>
        <img mdTooltip="{{ comment.author.name }}" (click)="goToUserProfile(comment.author.id)" class="avatar clickable" md-list-avatar src="https://a.ppy.sh/{{ comment.author.id }}">
        <span md-line class="m-b-20">{{ comment.author.name }} <span class="date">{{ comment.date | date:"mediumDate" }}, {{ comment.date | date:"shortTime" }}</span></span>
        <p md-line class="comment">
          {{ comment.comment }}
        </p>
      </md-list-item>
    </section>
  </md-list>
</section>
